@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Manifont Grotesk';
    src: url(./fonts/manifont-grotesk_book.ttf);
}

:root {
    --font-books: 'Roboto Mono', monospace;
    --font-layout: 'Space Grotesk', monospace;
    --dark-gray: #3d3d3d;
    --bg-color: #f7f6f9;
    --highlight-color: #e99100;
    --underline: 2px solid var(--dark-gray);
    --thin-border: 1px solid var(--dark-gray);
    --transition: 0.2s;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    background-color: var(--bg-color);
}


/* general */
.content {
    max-width: 1300px;
    margin: 0 auto;
    font-family: var(--font-layout);
    padding: 0 15px;
    color: var(--dark-gray);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* header */
.header {
    border-bottom: var(--underline);
}

#logo {
    margin: 10px 0;
    font-size: 40px;
    padding:  0;
}

#logo::after {
    content: '+'; 
  }

.collapse#logo::after {
    content: '-';
    transform:rotate(0deg);
}


/* form */
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-out;
    max-height: 0;
}
.form-section {
    flex: auto;
    display: flex;
    padding-bottom: 10px;
}

label {
    margin-right: 5px;
}

input[type="text"] {
   flex: auto;
   margin-right: 10px;
   border: none;
   outline: none;
   border-bottom: var(--thin-border);
   background-color: var(--bg-color);
   color: var(--highlight-color);
   font-family: var(--font-layout);
   font-weight: 600;
}

.no-grow {
    flex: 0 !important;
}

.round-btn {
    -webkit-appearance: none !important;


    font-family: var(--font-layout);
    background-color: var(--bg-color);
    height: 20px;
    border: var(--thin-border);
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
    display: inline-flex;
    align-items: center; 
    margin-right: 5px;
    flex: 0;    
}
.active,
.round-btn:hover {
    background-color: var(--highlight-color);
    color: var(--bg-color);
}

.check {
border: none;
background-color: var(--bg-color);
font-family: var(--font-layout);
text-align: right;
font-size: 18px;
font-weight: 600;
cursor: pointer;
padding-right: 10px;
flex: 1;
}

.check:hover {
    color: var(--highlight-color);
}

/* grid */
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    justify-content: start;
    width: 100%;
    gap: 0px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    max-height: 0;
}

/* sections */
.section {
    border-bottom: var(--underline);
}

.accordion {
    font-size: 28px;
    font-weight: 600;
    padding: 15px 0px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    background-color: var(--bg-color);
    color: var(--dark-gray);

    position: sticky;
    top: 0;
    z-index: 1;
}

.accordion:hover {
    color:var(--highlight-color)
}

.accordion::after {
    content: '<'; /* Unicode character for "plus" sign (+) */
    float: right;
    margin-right: 10px ;
    transition: all 0.2s ease-out;
  }

.collapse::after {
    transform:rotate(-90deg);
}




.btn-rotate {
    transition: var(--transition);
    transform:rotate(90deg);
}

/* book cover */

.cover {
    background-color: #f1d3ab;
    width: 100%;
    max-width: 350px;
    aspect-ratio: 11 / 18;
    border-radius: 7px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 12px 62.5px 12px;

    box-shadow: 8px 8px 16px #f0eff2,
        -8px -8px 16px #fefdff;

    transform: scale(0.8);
    transition: transform 0.2s;
    position: relative;
}

.cover:hover {
    transform: scale(0.82);
}

.cover-art {
    color: #78519a;
    margin: 0 auto;
    width: 65%;
    height: auto;
}

.book-details {
    font-family: var(--font-books);
    color: #78519a;
}

.hr {
    display: inline-block;
}

.hr::before {
    content: '';
    display: block;
    border-top: 8px solid;
    margin-top: 0.5em;
}

.divider {
    border: none;
    border-top: 5px solid #78519a;
}

.title,
.author {
    word-wrap: break-word;
    overflow-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;}

.author {
    margin-top: -7px;
    font-weight: 400;
    hyphens: manual;

}

.tools {
    display: none;
    position: absolute;
    bottom: 10px;
}

.tool {
    box-sizing: content-box;
    opacity: 0.6;
    padding: 5px;
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {
        visibility: hidden;
        width: auto;
        background-color: var(--dark-gray);
        color: var(--bg-color);
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        left: 50%; 
        bottom: 100%;
        margin-left: -50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tool:hover {
    opacity: 1;
    cursor: pointer
}

.cover:hover .tools {
    display: flex;
}

@media only screen and (max-width: 680px) {
    body {
        /* background-color: rgb(155, 155, 237); */
    }
    .form {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .form-section {
        width: 100%;
    }
    input[type="text"] {
        margin-right: 0 !important;
    }
    .round-btn {
        padding: 15px !important;
    }
    .check {
        text-align: left !important;
        padding: 5px 0;
    }
    .book-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: 320px;
        grid-auto-rows: 320px;
       
    }

    .cover {
        place-self: stretch;    
    }

    .cover-art {
        display: none;
    }
  }

  